{% extends '_templates/base.njk' %}

{% block page_title %}Activities{% endblock %}

{% block page_description %}Discover fun activities to do in Austin.{% endblock %}

{% block content %}
<div class="container">
  <h1>Activities</h1>
  <p>Explore exciting activities and events happening in Austin.</p>
</div>
{% endblock %}