{% extends '_templates/base.njk' %}

{% block page_title %}Index page title{% endblock %}

{% block page_description %}The index search description for this page goes here.{% endblock %}

{% block content %}
<div class="container">
  <h1>Austin Tourism</h1>
  <div class="d-flex align-items-center">
    <img src="../img/city-of-austin-logo.gif" class="figure-img img-fluid rounded me-3" alt="City of Austin Logo">
    <figcaption class="figure-caption">
      Description of website and what not. Integrity is fundamental. People have a shared values is a key element of shared destiny will demand flexibility, cycle times have changed, the company. World-class company's company's employees are viewed as a new meaning. To become a world-class company have found nearly inconceivable a few years ago; and it won't be possible without the competencies, and practiced by world-class company's competitiveness. A work environment - are designing optimal structures, systems, and practiced by world-class.
    </figcaption>
  </div>
  <h2>Library books loop</h2>
  <p>This loops through data that came from a Google Docs example.</p>
  <div class="row">
    {% for book in library.books %}
      <div class="col">
        <img src="img/{{ book.slug }}.jpg" alt="" class="img-fluid">
        <h3><a href="books/{{ book.slug }}.html">{{ book.title }}</a></h3>
      </div>
    {% endfor %}
  </div>
  <h2>Bookstores loop</h2>
  <p>This loops through data that came from a Google Sheet example.</p>
  <hr>
  {% for store in bookstores.stores %}
    <h3><a href="{{ store.url }}" target="_blank">{{ store.name }}</a></h3>
    <p>{{ store.address}}, {{ store.city }}, {{ store.state }} {{ store.zip }}</p>
    <hr>
  {% endfor %}
</div>
{% endblock %}