{% extends '_templates/base.njk' %}

{% block page_title %}Murals{% endblock %}

{% block page_description %}Explore the vibrant murals of Austin.{% endblock %}

{% block content %}
<div class="container">
  <h1>Murals</h1>
  <p>Discover the colorful and artistic murals that make Austin unique.</p>
</div>
{% endblock %}