{% extends '_templates/base.njk' %}

{% block page_title %}Restaurants{% endblock %}

{% block page_description %}Find the best restaurants in Austin.{% endblock %}

{% block content %}
<div class="container">
  <h1>Restaurant</h1>
  <p>Discover Austin's vibrant food scene and top dining spots.</p>
</div>
{% endblock %}